<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Me</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="header">
        <form action="/"><button type="submit" class="tab">Home</button></form>
        <form action="/aboutme" ><button type="submit" class="tab">About The Creator</button></form>
      </div>
    </nav>
<h1>About the Creator</h1>
<table>
  <tr>
  <td><img src="images/hannah.jpg" alt="Hannah_pic" class="myPicture"></td>
  <td>
    <p>Hannah is a rising freshman at the University of Michigan studying Computer Science. This is her second github coding project.
    This project is significantly easier than her first github coding project. </p>
    <a href= "https://github.com/hannahsalameh/milk-randomizer"><img src="images/github.png" alt="github_button" class="button"></a>
    <a href="https://www.linkedin.com/in/hannah-salameh"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRp1TVPHx0gOK-Zq0wb-VsD4gfpyEENGcQ2PnbrQAIIxL-Kw2XE" class="button" id="linkedin"></a>
    <a href="https://www.instagram.com/hannah_salameh/"><img src="https://mapl.ploud.net/instagram-button.png/@@images/image.png" alt="instagram_button" class="button" id="instagram"></a>
  </td>
  </tr>
</table>
  </body>
</html>
