<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="scripts/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="header">
        <form action="/"><button type="submit" class="tab">Home</button></form>
        <form action="/aboutme" ><button type="submit" class="tab">About The Creator</button></form>
      </div>
    </nav>
    <h1>Get Your Milk Here!</h1>
    <img src="{{img}}" alt="milk_picture" class="milk"> <br>
    <button type="button" onClick="random_color()" name="button" class="colors">Change Background Color!</button>
    <button type="button" onClick="reset_color()" class="colors">Reset</button>
  </body>
</html>
